
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="blog-content">
        <div class="blog-content">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-lg-9 col-sm-12">
                        <div class="row">
                            <div class="blog-first-content">
                                <div class="blog-first-image">
                                    <div class="col-lg-12">
                                        <img src="./assets/img/blog-water.jpg" alt="">
                                    </div>
                                </div>
                                <div class="blog-first-tabs">
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <i class="fas fa-clock"></i>
                                            <a href="">
                                                May 3, 2021
                                            </a>
                                            <i class="fas fa-flag ms-3"></i>
                                            <a href="">Tips & Tricks</a>
                                            <i class="fas fa-tablets ms-3"></i>
                                            <a href="">food,</a>
                                            <a href="">store,</a>
                                            <a href="">themeforest</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-first-text">
                                    <div class="row mt-3">
                                        <h1>
                                            But I must explain to you how all this mistaken idea
                                        </h1>
                                        <p>
                                            Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet
                                            velit, sodales elementum enim sem sed lectus. Vivamus viverra diam
                                            congue tristique pellentesque. Proin efficitur est vel lectus ultrices
                                            rhoncus eu ut lacus. In gravida leo at justo lobortis, vitae aliquet
                                            justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id
                                            efficitur ultrices, sapien mauris sodales
                                        </p>
                                    </div>
                                </div>
                                <div class="blog-first-button">
                                    <button type="button" class="btn btn-primary mt-3 blog-btn">Read More</button>
                                </div>
                            </div>

                            <div class="blog-second-content mt-5">
                                <div class="blog-second-image">
                                    <div class="col-lg-12">
                                        <img src="./assets/img/blog-milk.jpg" alt="">
                                    </div>
                                </div>
                                <div class="blog-second-tabs">
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <i class="fas fa-clock"></i>
                                            <a href="">
                                                May 3, 2021
                                            </a>
                                            <i class="fas fa-flag ms-3"></i>
                                            <a href="">Grocery</a>
                                            <i class="fas fa-tablets ms-3"></i>
                                            <a href="">envato,</a>
                                            <a href="">fresh</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="blog-second-text">
                                    <div class="row mt-3">
                                        <h1>
                                            The Problem With Typefaces on the Web
                                        </h1>
                                        <p>
                                            Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet
                                            velit, sodales elementum enim sem sed lectus. Vivamus viverra diam
                                            congue tristique pellentesque. Proin efficitur est vel lectus ultrices
                                            rhoncus eu ut lacus. In gravida leo at justo lobortis, vitae aliquet
                                            justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id
                                            efficitur ultrices, sapien mauris sodales
                                        </p>
                                    </div>
                                </div>
                                <div class="blog-second-button">
                                    <button type="button" class="btn btn-primary mt-3 blog-btn">Read More</button>
                                </div>
                            </div>
                            <div class="blog-third-content mt-5">
                                <div class="blog-third-image">
                                    <div class="col-lg-12">
                                        <img src="./assets/img/blog-icecream.jpg" alt="">
                                    </div>
                                </div>
                                <div class="blog-third-tabs">
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <i class="fas fa-clock"></i>
                                            <a href="">
                                                May 2, 2021
                                            </a>
                                            <i class="fas fa-flag ms-3"></i>
                                            <a href="">Grocery</a>
                                            <i class="fas fa-tablets ms-3"></i>
                                            <a href="">food,</a>
                                            <a href="">organic</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="blog-third-text">
                                    <div class="row mt-3">
                                        <h1>
                                            English Breakfast Tea With Tasty Donut Desserts
                                        </h1>
                                        <p>
                                            Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet
                                            velit, sodales elementum enim sem sed lectus. Vivamus viverra diam
                                            congue tristique pellentesque. Proin efficitur est vel lectus ultrices
                                            rhoncus eu ut lacus. In gravida leo at justo lobortis, vitae aliquet
                                            justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id
                                            efficitur ultrices, sapien mauris sodales
                                        </p>
                                    </div>
                                </div>
                                <div class="blog-third-button">
                                    <button type="button" class="btn btn-primary mt-3 blog-btn">Read More</button>
                                </div>
                            </div>


                        </div>
                        <div class="pagination mt-5">
                            <span class="pagination-item-1 me-1">1</span>
                            <span class="me-1">2</span>
                            <span>
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </div>

                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="blog-side">
                            <div class="blog-search">

                                <form class="d-flex">
                                    <input class="form-control me-2" type="search" placeholder="Search"
                                           aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>

                            </div>

                            <div class="popular-posts">
                                <div class="row mt-5">
                                    <p>POPULAR POSTS</p>
                                </div>
                                <div class="row mt-3">
                                    <div class="popular-content">
                                        <div class="popular-first-content">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="popular-first-image">
                                                        <img src="./assets/img/blog-side-water.jpg" alt="">

                                                        <p>1</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="popular-text">
                                                        <p>But I must explain to you how all this mistaken idea</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popular-second-content">
                                            <div class="row mt-3">
                                                <div class="col-lg-3">
                                                    <div class="popular-second-image">
                                                        <img src="./assets/img/blog-side-milk.jpg" alt="">

                                                        <p>2</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="popular-text">
                                                        <p>The Problem With Typefaces on the Web</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popular-third-content">
                                            <div class="row mt-3">
                                                <div class="col-lg-3">
                                                    <div class="popular-third-image">
                                                        <img src="./assets/img/blog-side-icecream.jpg" alt="">

                                                        <p>3</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="popular-text">
                                                        <p>English Breakfast Tea With Tasty Donut Desserts</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="blog-soc-media">
                                <div class="row mt-5">
                                    <p>SOCIAL MEDIA</p>
                                </div>
                                <div class="row mt-3">
                                    <div class="blog-soc-media-content">
                                        <div class="row">
                                            <div class="facebook">
                                                <div class="icon">
                                                    <i class="fab fa-facebook-f"></i>
                                                </div>
                                                <div class="f-text">
                                                    <p>FACEBOOK</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="twitter">
                                                <div class="icon">
                                                    <i class="fab fa-twitter"></i>
                                                </div>
                                                <div class="t-text">
                                                    <p>TWITTER</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="pinterest">
                                                <div class="icon">
                                                    <i class="fab fa-pinterest-p"></i>
                                                </div>
                                                <div class="p-text">
                                                    <p>PINTEREST</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="linkedin">
                                                <div class="icon">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </div>
                                                <div class="l-text">
                                                    <p>LINKEDIN</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="reddit">
                                                <div class="icon">
                                                    <i class="fab fa-reddit-alien"></i>
                                                </div>
                                                <div class="r-text">
                                                    <p>REDDIT</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-banner">
                                <div class="row mt-5">
                                    <p>WIDGET BANNER</p>
                                </div>
                                <div class="gif">
                                    <img src="./assets/img/sidebar-banner-gif.gif" alt="">
                                </div>
                            </div>
                            <div class="tags">
                                <div class="row mt-5">
                                    <p>TAGS</p>
                                </div>
                                <div class="tags-content">
                                    <div class="mt-2">
                                        <span>envato</span>
                                        <span>food</span>
                                        <span>fresh</span>
                                    </div>
                                    <div class="mt-2">
                                        <span>grocery</span>
                                        <span>organic</span>
                                        <span>quality</span>
                                    </div>
                                    <div class="mt-2">
                                        <span>store</span>
                                        <span>themeforest</span>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
</main>

