
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="root">
        <div class="root">
            <div class="container">
                <a href="index.html">HOME</a>
                <i class="fas fa-angle-right"></i>
                <span>MY ACCOUNT</span>
            </div>
        </div>
    </section>
    <section id="login-register">
        <div class="login-register">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-6">
                        <div class="login">
                            <h4>LOGIN</h4>
                            <hr>
                            <form>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">
                                        Username or email address
                                        *
                                    </label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                           aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">
                                        Password *
                                    </label>
                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Log in</button>
                                <div class="forget mt-3">
                                    <a href="">Lost your password?</a>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="register">
                            <h4>REGISTER</h4>
                            <hr>
                            <form>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email address*</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                           aria-describedby="emailHelp">

                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                <p>
                                    Your personal data will be used to support your experience throughout this
                                    website, to manage access to your account, and for other purposes described in
                                    our <a href="">privacy and policy</a>.
                                </p>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


</main>

